body{
    font-family: Arial;
    margin:40px;
}

#username {
    font-size: 18px;      /* bigger */
    font-weight: bold;     /* bold */
    padding: 6px 10px;
    margin-bottom: 10px;
}

table{
    border-collapse: collapse;
}

td,th{
    border:1px solid #ccc;
    padding:6px;
    text-align:center;
    min-width:110px;
}

.slot{
    cursor:pointer;
}

.selected{
    background:#4CAF50;
    color:white;
}

.best{
    background:#ff9800;
    color:white;
}

.names{
    font-size:11px;
}

/* Buttons */
button.save {
    background-color: #4CAF50; /* green */
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 8px;
}

button.grey {
    background-color: #ccc;
    color: #333;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 8px;
}

button:hover.save {
    background-color: #45a049;
}

button:hover.grey {
    background-color: #bbb;
}

.time-box {
    display: inline-block;
    padding: 8px 16px;
    background-color: #4CAF50; /* green */
    color: white;
    font-weight: bold;
    border-radius: 6px;
    margin-bottom: 10px;
    font-size: 16px;
}